# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
htmlcov/
.coverage
.pytest_cache/
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
